body {
  padding: 0;
  margin: 0;
  line-height: $global-lineheight;
  font-family: $global-font-family;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $theme-color-hover;
  }
}

img{
  max-width: 100%;
  height: auto;
  display: inline-block;
  font-family: $global-font-family;
  line-height: $global-lineheight;
}


// container style
.container {
  width: $global-body-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .left-part {
    width: $global-left-part-width;
    .main {
      padding-top: $global-main-top;
    }
  }
  .right-part {
    width: $global-right-part-width;
    position: relative;
  }
}

// reset h1-h6
@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
  }
}