// -----------------------
// define global variables
// -----------------------

// ==== default color ====
$white: #ffffff !default;
$black: #555555 !default;
$dark-gray: #808080  !default;
$gray: #bfbfbf !default;

// ==== set global default value ====
$global-font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;

$global-background: $white !default;

$global-body-width: 1024px !default;

$global-container-top: 70px !default;

$global-left-part-width: 784px !default;

$global-right-part-width: 240px !default;

$global-font-size: 16px !default;

$global-lineheight: 1.5 !default;

$global-headings: (
   h1: 26px,
   h2: 24px,
   h3: 20px,
   h4: 16px,
   h5: 14px,
   h6: 12px
) !default;

// ==== set right nav/userInfo default value ====
$side-top: 50px !default;

$side-userinfo-width: 120px !default;

$side-logo-width: 100px !default;

$side-nav-top: 20px !default;

$side-nav-item-margin: 16px !default;

$side-nav-icon-padding: 5px !default;

$side-nav-font: 15px !default;



// ==== set post default value ====

