// post common style
.post-abstract, .post-whole {
  .post-title h2 {
    font-weight: $global-font-weight;
  }
  .post-title-link {
    color: $black;
  }
  .post-time {
    color: $gray;
    font-size: $global-font-size;
  }
  .post-content {
    color: $black;
    font-size: $global-font-size;
  }
}

// ==== post abstract ====
.post-abstract {
  padding-top: $padding-large;
  padding-bottom: $padding-small;
  border-bottom: $post-border
}


// ==== Code ==== //
// code style
@import "post/code";
@import "post/toc";

