// post common style
.post-abstract, .post-whole {
  padding-top: $padding-large;
  .post-title h2 {
    font-weight: $global-font-weight;
    margin: 0;
  }
  .post-title-link {
    color: $black;
  }
  .post-time {
    color: $gray;
    font-size: $post-time-font;
  }
  .post-content {
    color: $black;
    font-size: $global-font-size;
  }
}

// ==== post abstract ====
.post-abstract {
  padding-bottom: $padding-small;
  border-bottom: $post-border
}


// ==== Code ==== //
// code style
@import "post/code";
@import "post/toc";

