<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <div class="container">
        <div class="left-part">
            <main class="main">
                <%- body %>
            </main>
        </div>
        <div class="right-part">
            <%- partial('_partial/sidebar') %>
            <% if (is_post()) { %>
            <%- partial('_partial/toc')%>
            <% } %>
        </div>
    </div>
</body>
</html>