<aside class="aside-nav">
    <div class="user-info">
        <img class="user-logo" src="<%- url_for(__('userInfo.logo'))%>">
        <div class="user-name">
            <%= __('userInfo.name') %>
        </div>
        <div class="motto">
            <%= __('userInfo.motto')%>
        </div>
    </div>
</aside>