.post-toc-content {
  position: relative;
  margin-top: 60px;
}
.post-toc {
  font-family: $global-Lato-font-family;
  position: absolute;
  top: 20px;
  .post-toc-title {
    display: inline-block;
    border-top: 1px solid #e3e3e3;
    padding: 7px 0;
    font-size: 15px;
    color: $theme-color-base;
  }
  a {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: inherit;
    padding: 7px 0;
    display: block;
    line-height: 1;
    font-size: 15px;
    &:hover{
      color: $theme-color-hover;
    }
  }
  ol {
    list-style: none;
    padding-left: 15px;
  }
  > ol {
    margin: 0;
    padding: 0;
  }
}