.post-toc {
  background: #ededed;
  border-radius: 4px;
  padding: 10px 20px 10px 0;

  .post-menu {
    font-family: $global-Lato-font-family;
  }

  ol {
    list-style: none;
    padding-left: 15px;
  }
  > ol {
    margin: 10px 0;
    padding-left: 20px;
  }
}